.foot{
    text-align: center;
    font-size: 18px;
    letter-spacing: 4px;
    padding: 5px; 
    color: rgb(245, 243, 243);
    background-color: black;box-shadow: 3px 3px 15px black;
    opacity: 0.8;
    font-family: 'Bauhaus93, sans-serif';
    position:relative;
    width: 100%;
    }