 /* ------------------------------style css-------------------------- */
 .bod {
  margin: 0px auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.form {
  margin-top: 15px;
}

img {
  text-align: left;
  width: 215px;
  height: 150px;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  float: right;
  margin-top: 100px;
}

span {
  line-height: 25px;
  margin-top: 6px;
  text-align: center;
}
 
