 /* ---------------------rh admin------------------------------------------------------------ */
 .search-menue{ 
    background-color: rgb(0, 0, 0);; 
    color: white; 
    position: fixed; 
    z-index: 3;
    width: 100%; 
    height: 20.5%;
    top: 0;
    right: 0;
  }
  #search:active{border: none;}
  .no-focus-outline:focus {outline: none;}
  /*.data-main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-column-gap: 1px;
    height: 100%;
    width: 99%;
    margin-top: 10%;
  } */
  .data-main-frame{
  background-color: rgb(0, 0, 0);;
  color: #fffcfc; 
  position: fixed; 
  width: 100%; 
  height:50%;
  z-index: -1; 
  top: 100px;
  margin-top: 2%;
  padding: 15px;
  border-top :solid 1px rgb(8, 8, 8) ;
  border-bottom :solid 1px rgb(0, 0, 0) ;
  border-bottom :solid 1px rgb(0, 0, 0) ;
  box-shadow: 3px 3px 15px black;
  opacity: 0.75s;
  }
    .item{
        text-align: center;
        margin-left:13%;
        height:100px;
        width:90%;
        position: absolute;
        /* border-left: solid 1px white; */
    }
    
  .main-manage22{
    width:70%; 
    z-index: 1;
    background-color: whitesmoke;
    box-shadow: 2px 2px 14px black;
    margin-left: 210px;
    margin-top: 19%;
    margin-bottom: 5%;
  }/* shadow effect dans agent manage  */
  /* ----------agent manage & admin manage & desk manage ------------------------------------------- */
  .main-manage2{
    display: grid;
    grid-template-columns: 100%;
    column-gap: 15px;
    row-gap: 10px;
    grid-column: auto auto;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 2px 2px 14px black;
    z-index: 1;
    width: 94%;
    height: 125%;
    margin: 150px 0  5% 40px ;
  }
  .main-manage2> .shadow-effect,.main-manage22> .shadow-effect {
  box-shadow: 0 0 7px 3px rgba(226, 209, 235, 0.42) ;
  border-color: rgba(226, 209, 235, 0.42);
  border-radius: 9px;
  }
  .tit{ text-align: left;
  margin-left: 8%;  
  color:olivedrab ;  
  line-height: 70px;
  font-family: 'Bauhaus93, sans-serif';
  font-size: 2.3vw;
  letter-spacing: 1px;
  grid-column: 2/ span 1;
  margin-top: 10%;
  margin-bottom: -8%;
  height: 48px;
  font-weight: bold;
  }
  .managetitle2 {
    text-align: center;
    padding-top: 8px;
    margin-top: 2%; 
    margin-left: 9%; /* nes pas existe dans rh ad */
    line-height: 70px;
    font-family: 'Bauhaus93, sans-serif';
    font-size: 2.2vw;
    letter-spacing: 1px;
    grid-column: 2/ span 1;
    height: 40px;
    color:olivedrab ;
   }
   .form-frame {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    /* column-gap: 20px;
    row-gap:10px ;   AGENT CTI CHECK */
  }
  .form-floating>.form-select {background-color: rgb(251, 248, 248);}
  .manageform {
  margin-top: 5%;
  height: 100%;
  display: inline-block;
  color: rgb(98, 98, 98);
  font-size: 14px;
  font-weight: bold; 
  } 
  .form-control{
   background-color:  rgb(251, 248, 248); 
   width: 300px;
   font-size: 18px;
  }
  .but{
  padding-left: 5%; 
  padding-right: 5%;
  letter-spacing: 3px;
  margin-bottom: 1%;
  color: white;
  }
  /* ------aussi AGENT REQUEST & RH ADMIN */
  .btn-purple {
  background-color: rgb(88, 3, 88);
  border-color: rgb(88, 3, 88);
  color:  white;
  }
  
  .btn-purple:hover{
  background-color: rgb(88, 3, 88);
  border-color: rgb(88, 3, 88);
  color:  white;
  }
  .shadow-effect:focus, .form-floating>.form-select:focus {
  box-shadow: 0 0 7px 3px rgba(153, 50, 204, 0.5);
  border-color: rgba(153, 50, 204, 0.5) ;
  }
  
  /* -------------agent request---------------- */
  .request-container {
    align-content: center;
    margin: 130px 10px 0px 110px;
    width: 85%;
    border-radius: 9px;
    border:none;
    position: relative;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.307);
  } 
  .request-container> .shadow-effect ,.im> .shadow-effect{
  box-shadow: 0 0 7px 3px rgba(226, 209, 235, 0.613) ;
  border-color: rgba(226, 209, 235, 0.613);
  border-radius: 9px;
  }
  .request {
  display: grid;
  grid-template-rows: 30px 80%;
  column-gap: 8px;
  grid-row-gap: 2px;
  color: black;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin: 0px auto;
  height: auto;
  width: 100%;
  padding-top: 20px;
  }
  .request-item1 {
  text-align: left;
  color: olivedrab;
  font-weight: bold;
  margin: 0px 2px 20px 2px;
  font-family: 'Bauhaus93, sans-serif';
  font-size: 2.3vw;
  letter-spacing: 1px;
  height: 40px;
  padding-bottom: 30px;
  }
  
  .request-item2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-align: left;
  height: 100%;
  font-size: 22px;
  margin-left: 2%;
  margin-top: 3%;
  }
  .dynamic-table2 {
  color: rgb(0, 0, 0);
  text-align: center;
  border: 0px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: normal;
  width: 99.4%;
  }
  
  .dynamic-table2 tr:nth-child(even) {
  background-color: #e1e1e2;
  }
  .caption {
  border: 0px;
  text-align: left;
  color: olivedrab;
  margin-top: -270px;
  margin-left: 3px;
  padding: 5px;
  box-sizing: border-box;
  height: 36px;
  line-height: 28px;
  border-left: 2px solid olivedrab;
  font-weight: bold;
  font-family: 'Bauhaus93, sans-serif';
  font-size: 2.0vw;
  letter-spacing: 1px;
  height: 40px;
  }
  
  /* --------login----------- */
  .Login:hover{
border-color: grey;
  }
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:hover{
border-color: grey;

  }
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus{
    border-color: rgb(106, 5, 106);
  }
  /* ---------------loginside------------------ */
  .vl {
    border-left: 1px dashed rgb(194, 191, 191);
    text-align: right;
    margin-left: 56px;
    height: 400px;
    top: 0;
}

#open-menue {
    font-size: 40px;
    color: white;
    float: right;
    margin-top: 170px;
    margin-right: 5px;
    opacity: 0.8;
}

.menue {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 330px;
    height: 400px;
    background-color: black;
    float: left;
    margin-left: -283px;
    margin-top: 95px;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 10px 0px 10px 0px 35px black;
}

@keyframes anim {
    0% {
        margin-left: -283px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes animRev {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -283px;
    }
}

.form-menue {
    margin-left: 30px;
    text-align: center;
}